In [108]:
## List within a tuple

In [14]:
student=("Sam",[70,75,83],['math','science','english'])
print(student[0])
print(student[2][1])

Sam
science

In [38]:
#tuple sample
info=("Sam",70,'Engineer')
print(info[0])
print(info[-2])
print(len(info))
print(info*2)
print(info +('salary',150000))

Sam
70
3
('Sam', 70, 'Engineer', 'Sam', 70, 'Engineer')
('Sam', 70, 'Engineer', 'salary', 150000)

In [44]:
# nested tuple
nest_tp=((1,2),(3,4),(5,6))
print(nest_tp[0][1])

2

In [100]:
# Dictionary
print("************************************Dictionary************************************")
preson={'name':'Sam','age':21,'city':'Bharuch'}
print(preson)
print("Accessing and modify the person age")
preson['age']=20
print(preson)
print(preson['age'])
print("******************88********Adding and removing**********************************")
print(" ")
preson['email'] = 'xyz@2000gmail.com'
print(preson)
print(' ')
print("************************All keys and Values*************************************")
print("")
print(preson.keys())
print(preson.values())
print(' ')
print("******************************All items******************************************")
print("")
print(preson.items())
print(preson.get("age"))

************************************Dictionary************************************
{'name': 'Sam', 'age': 21, 'city': 'Bharuch'}
Accessing and modify the person age
{'name': 'Sam', 'age': 20, 'city': 'Bharuch'}
20
******************88********Adding and removing**********************************

{'name': 'Sam', 'age': 20, 'city': 'Bharuch', 'email': 'xyz@2000gmail.com'}

************************All keys and Values*************************************

dict_keys(['name', 'age', 'city', 'email'])
dict_values(['Sam', 20, 'Bharuch', 'xyz@2000gmail.com'])

******************************All items******************************************

dict_items([('name', 'Sam'), ('age', 20), ('city', 'Bharuch'), ('email', 'xyz@2000gmail.com')])
20

In [102]:
# nested dict
info={
    'Sam':{"Salary":150000,"perks":30000},
    'Elon':{"Salary":200000,"perks":50000}
}
print(info['Elon']['perks'])

50000

In [106]:
# dict with tuple keys(real life example)
location={
    (15.9129 , 79.7400):'Andhra Pradesh',
    (22.6708, 71.5724):'Gujarat'
}

print(location[22.6708, 71.5724])

Gujarat

In [19]:
# set operations
my_set={1,2,3,4,5,6}
print(my_set)
print("Add and remove values")
my_set.add(7)
print(my_set)
my_set.remove(2)
print(my_set)
my_set.discard(10)
print(my_set)
print("Membership check")
print(1 in my_set)
print(10 in my_set)

{1, 2, 3, 4, 5, 6}
Add and remove values
{1, 2, 3, 4, 5, 6, 7}
{1, 3, 4, 5, 6, 7}
{1, 3, 4, 5, 6, 7}
Membership check
True
False

In [29]:
# operations
print("*****************************UNION***************************")
a={1,1,2,4,5,5}
b={2,3,4,5,6,7,8,9}
print(a.union(b))
print("************************INTERSECTION***************************")
print(a.intersection(b))
print("************************DIFFERNECE***************************")
print(a.difference(b))
print("********************SYMMETRIC_DIFFERNECE***************************")
print(a.symmetric_difference(b))

*****************************UNION***************************
{1, 2, 3, 4, 5, 6, 7, 8, 9}
************************INTERSECTION***************************
{2, 4, 5}
************************DIFFERNECE***************************
{1}
********************SYMMETRIC_DIFFERNECE***************************
{1, 3, 6, 7, 8, 9}

In [31]:
nums=[1,2,2,3]
unique=set(nums)
print(unique)

{1, 2, 3}

In [41]:
a={1,2}
b={1,2,3,4,5}
print(a.issubset(b))
print(b.issubset(a))
print(a<=b)
print(a<b)
print(a>=b)
print(b>a)

True
False
True
True
False
True